name: Linting

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:

  golangci-lint:
    name: Linting
    strategy:
      matrix:
        go-version: [ stable, oldstable ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      GO_VERSION: stable
      GOLANGCI_LINT_VERSION: v2.9
      CGO_ENABLED: 0
    runs-on: ${{ matrix.os }}

    steps:
      - if: ${{ matrix.os == 'windows-latest' }} # https://github.com/actions/checkout/issues/135
        run: |
          git config --global core.eol lf
          git config --global core.autocrlf input
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
