name: Linting

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:

  golangci-lint:
    name: Linting
    strategy:
      matrix:
        go-version: [ stable, oldstable ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      GO_VERSION: stable
      GOLANGCI_LINT_VERSION: v2.7
      CGO_ENABLED: 0
    runs-on: ${{ matrix.os }}

    steps:
      - if: ${{ matrix.os == 'windows-latest' }} # https://github.com/actions/checkout/issues/135
        run: |
          git config --global core.eol lf
          git config --global core.autocrlf input
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
